
body{
    background:url("../img/fundo1.png");
    background-repeat: repeat-y;
}
.logo{
    width: 210px;
    margin-left:45px;
    filter:opacity(0.9);
    transition: all 1s;
}
h1{
    color: aliceblue;
    font-size:50px;
    margin-left:35px;
    margin-bottom:40px;
    font-weight:700;
    transition: all 1s;
    
}
h3{
    color: rgb(136, 144, 148);
    display:inline-block;
    font-size:1.2rem;
}
.login{
    width:540px;
    height:760px;
    background-color: rgba(0, 0, 0, 0.833);
    padding:10px;
}
.input{
    height:60px;
    transition: all 1s;
}
.input:hover{
    background-color: rgb(195, 197, 198);
}
.botao{
    border:none;
    margin-top:20px;
    margin-bottom: 20px;
    width:95%;
    height:80px;
    color: aliceblue;
    font-size:20px;
    font-weight: 700;
    background-color:  #ff031c;

}

.ajuda{
    width:95%;
    color:rgb(207, 195, 195);
    font-size:1.2rem;
}
.ajuda a{
    text-decoration: none;
    color:rgb(207, 195, 195);
    font-size:1.2rem;
}

a:hover{
    cursor: pointer;
}
.novo{
    width:90%;
    margin-top:90px;
}
.novo p{
    color: rgb(160, 164, 168);
}
.novo a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size:1.3rem;
}
.novo a.ajudaException{
    text-decoration:dashed;
    color: #3503ff;
    font-size:1rem;
}

.rodape{
    background-color:rgba(0, 0, 0, 0.941) ;
    color: aliceblue;
    font-size:1.4rem;
}
.rodape a{
    text-decoration:none;
    color: rgb(97, 92, 92);
    font-weight:500;
}

@media (max-width:1900px ){
     .login{
         margin:0 auto;
         margin-top:-30px;
         padding:20px;
     }
     .input{
        margin-left:20px;
        width:400px;
     }
     .botao{
        width: 400px;
        height:60px;
        margin-left:20px;
        border-radius:10px;
     }
     .chek{
        color:rgb(179, 185, 191);
        margin-left:20px;
        width:80%;
        font-size:20px;
        font-weight:400;

     }
     .ajuda{
        margin-left:10px;
     }
     .novo{
        width:90%;
        margin-left:20px;
    }
     .rodape{
        height:200px;
        margin-top:90px;
     }
     body{
        background-repeat:no-repeat;
        background-size: cover;
     }
}
@media(max-width:930px){
    body{
        background: black;
    }
    .logo{
        width:120px;
        margin-left:15px;
        margin-top:10px;
    }
    h1{
        margin-bottom:30px;
        margin-left:15px;
        font-size:40px;
    }
    .login{
        width:100%;
        height:400px;
        margin: 0;
        padding:0;
        margin-left:20px;
    }
    .input{
        width:95%;
        margin-left:0;
    }
    
    .botao{
        width:95%;
        margin: 0;
        margin-top:30px;
        margin-bottom:15px;

    }
    .chek{
        color:rgb(179, 185, 191);
        margin-left:20px;
        width:93%;
    
     }
     .novo{
        width:90%;
        margin-top:30px;
        margin-left:0px;
    }
    .rodape{
        margin-top:200px;
        margin-bottom:100px;
    }
}
@media (max-width:576px){
    .logo{
        width:100px;
        margin-top:10px;
        margin-bottom:20px;
    }
    h1{
        font-size:40px;
        font-weight: 700;
        margin-bottom:20px;
    }
    .login{
        margin-left:10px;
        width:100%;
    }
    .rodape{
        margin-top:300px;
        margin-bottom:100px;
    }
}
